body {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: black;
    margin-bottom: 20px;   

}
.header__logo {
    width: 150px;
    cursor: pointer; 
}

.container {
    width: 70%;
    padding: 2cm;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;
}

.container__post h1{
    font-size: 20px;
}

.footer {
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer__menu {
    margin-right: 75px;
    display: flex;
    justify-content: space-evenly;
}

.footer__menu li {
    display: flex;
    flex-direction: row;
}

.footer__menu li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    
}

.footer__menu li a:hover {
    text-decoration: underline;
}

.footer__text {
    color: white;
}